name: PRIVATE_Custom_action
on: push
jobs:
  testing-own-action:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: .\.github\actions\hello
        id: hello
        with:
          who-to-greet: "Aniket"
      - run:  |
          echo "Time : ${{steps.hello.outputs.time}}"
